:root {
    --danger: #dc3545;
    --white: white;
}

#theme-button {
    all: unset;
    display: flex;
}

.credits-container {
    text-align: center;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    display: none;
}

header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

header * {
    margin-top: auto;
    margin-bottom: auto;
}

header h1 {
    display: flex;
    gap: 8px;
}

#header-right-container {
    display: flex;
    gap: 12px;
}

#header-right-container * {
    cursor: pointer;
}

.loading-container {
    text-align: center;
    margin-top: 24px;
}

.loader-icon {
    animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

.page-content {
    padding: 12px;
    text-align: justify;
}

.copy-button,
.copy-button:hover,
.copy-button:focus,
.copy-button:active {
  all: unset;
  display: flex;
  cursor: pointer;
  margin-top: 32px;
  height: fit-content;
}

.page-container {
    display: flex;
}

.pagination-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.page-button {
    display: flex;
}

.page-button:focus {
    box-shadow: none;
}

.page-button.active {
    background-color: var(--button-hover);
    color: var(--white);

}
